/nepali_embedding/sabda2vec/models/* filter=lfs diff=lfs merge=lfs -text
/nepali_embedding/sabda2vec/models filter=lfs diff=lfs merge=lfs -text
/nepali_embedding/sabda2vec/models/sabda_to_vec_model filter=lfs diff=lfs merge=lfs -text
/nepali_embedding/sabda2vec/models/sabda_to_vec_model_md filter=lfs diff=lfs merge=lfs -text
/nepali_embedding/sabda2vec/models/sabda_to_vec_model_md.trainables.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
/nepali_embedding/sabda2vec/models/sabda_to_vec_model_md.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
